<!-- portfolio/templates/portfolio/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section id="home" class="min-h-screen flex items-center justify-center bg-white">
  <h1 class="text-5xl font-bold">Welcome to My Portfolio</h1>
</section>

<section id="about" class="min-h-screen bg-gray-100 py-20">
  <h2 class="text-3xl font-bold text-center">About Me</h2>
  <p class="text-center mt-4 max-w-xl mx-auto">Hello, I am Sarper...</p>
</section>

<section id="projects" class="min-h-screen bg-white py-20">
  <h2 class="text-3xl font-bold text-center">Projects</h2>
</section>

<section id="blog" class="min-h-screen bg-gray-100 py-20">
  <h2 class="text-3xl font-bold text-center">Blog</h2>
</section>

<section id="contact" class="min-h-screen bg-white py-20">
  <h2 class="text-3xl font-bold text-center">Contact</h2>
</section>


{% endblock %}
