{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% tailwind_css %}
    <link href="{% static 'portfolio/css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class="bg-gray-100 text-gray-900 ">
    <!-- Navbar -->
    <header>
      <nav id="navbar" class="fixed top-0 left-0 w-full bg-zinc-900 text-white z-50 transition-all duration-300">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
          <!-- Logo -->
          <div class="text-xl font-bold">
            <a href="#home" class="text-white hover:text-gray-300">My Portfolio Logo</a>
          </div>

          <!-- Menu -->
          <ul class="hidden md:flex space-x-6">
            <li><a href="#home" class="hover:text-gray-300">Home</a></li>
            <li><a href="#about" class="hover:text-gray-300">About</a></li>
            <li><a href="#projects" class="hover:text-gray-300">Projects</a></li>
            <li><a href="#blog" class="hover:text-gray-300">Blog</a></li>
            <li><a href="#contact" class="hover:text-gray-300">Contact</a></li>
          </ul>

          <!-- Dark Mode Button (placeholder) -->
          <div>
            <button class="bg-gray-800 hover:bg-gray-700 px-3 py-1 rounded text-sm">
              🌙
            </button>
          </div>
        </div>
      </nav>
      
    </header>

    <!-- Page Content -->
    {% block content %}
    
    {% endblock %}

    <!-- Footer -->
    <footer class="text-center text-gray-500 mt-10 py-4">
      <p>Footer coming</p>
    </footer>
    <!-- JavaScript Section -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init()
    </script>
    <script>
      const navbar = document.getElementById("navbar")

      window.addEventListener("scroll",()=> {
        if (window.scrollY > 10) {
          navbar.classList.add("bg-opacity-80","backdrop-blur","shadow-md");
        } else {
          navbar.classList.remove("bg-opacity-80","backdrop-blur","shadow-md");
        }
      });
    </script>
  </body>
</html>
