<!-- templates/base.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% tailwind_css %}
  </head>
  <body>
    <header>
      <nav class="navbar bg-dark">
        <div class="navbar-container">
          <div class="navbar-logo">
            <a href="{% url 'home' %}"class="logo-style">My Portfolio Logo</a>
          </div>
          <div class="navbar-links">
            <ul class="navbar-menu">
              <li><a href="{% url 'home'%}" class="navbar-link">Home</a></li>
              <li><a href="{% url 'about'%}" class="navbar-link">About</a></li>
              <li><a href="{% url 'projects'%}" class="navbar-link">Projects</a></li>
              <li><a href="{% url 'blog'%}" class="navbar-link">Blog</a></li>
              <li><a href="{% url 'contact'%}" class="navbar-link">Contact</a></li>
            </ul>
          </div>
          <div class="navbar-button">
            <button>🌙</button> veya <button>Dark Mode</button>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Footer gelecek</p>
    </footer>
  </body>
</html>
